<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sherpany.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72F889171C3C55CA009D9F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72F889331C3C55CA009D9F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72F8893E1C3C55CA009D9F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
